Django==6.1
django-cors-headers==4.9.0
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
matplotlib==3.10.8
numpy==2.4.4
opencv-python-headless==4.13.0.92
pillow==12.1.1
psycopg2-binary==2.9.12
pytesseract==0.3.13
python-dotenv==1.2.2
reportlab==4.4.10
